/* Breakpoints for devices for Responsive Web Design */
/* Portrait will be dark slate grey */
/* Landscape will be black */
/* Mmmbop playing in the background because issa mood */

/* Most phones */
@media screen and (max-width: 480px) and (orientation: portrait) {
    * {
        background-color: darkslategrey;
    }
}

@media screen and (max-width: 640px) and (orientation: landscape) {
    * {
        background-color: black;
    }
}

/* Tabletsish */

@media screen and (min-width: 768px) and (orientation: portrait) {
    * {
        background-color: darkslategrey;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    * {
        background-color: black;
    }
}

/* Laptops/ PC /Anything obnoxious with a large screen that may as well constitute as a laptop 
but they really are out here holding that whole device up to their ear */

@media screen and (min-width: 1024px) {
    * {
        background-color: darkslategrey;
    }
}
