html {
    text-align: center;
}


table {
    margin: auto;
}
body {
    background-color: black;
  color: #957DAD;
  font-family: 'Courier New', Courier, monospace;
}

blockquote {
    color: paleturquoise;
}
.heading {
    color:#f8eded;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

.pictures {
    align-content: center;
}

.about {
    align-content: center;
}

.links {
    padding: 5px;
}
h1{
    color: #f8eded;
}

p {
    color: violet;
}

th {
    color:#f8eded;
}

a {
    color:violet;
}
@media
    only screen
    and (min-device-width: 320px)
    and (max-device-width: 667px)
    and (orientation: portrait) {
        body {
            background: black;
            color:palegreen;
        }
    }

@media
    only screen
    and (min-device-width: 1080px)
    and (max-device-width: 1920px)
    and (orientation: landscape) {
        body {
            padding: 0;
            margin: 0;
            background: black;
            color: palevioletred;
        }
    }

