html {
    text-align: center;
}

table {
    margin: auto;
}
body {
  color: #957DAD;
  font-family: 'Courier New', Courier, monospace;
}

.heading {
    color:#f8eded;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

h1{
    color: #f8eded;
}

p {
    color: #f8eded;
}

th {
    color:#f8eded;
}
