* {
    font-family: 'Courier New', Courier, monospace;
    text-decoration-color: #1B1B1B;
    color: white;
}

li>b {
    color: black;
    text-align: left;
}

p>em {
    color: purple;
}

li>i 
{
    color: purple;
    text-align: left;
    font-weight: bold;
}

.summary p{
    color:purple;
    font-weight: bolder;
}